{% extends 'base.html' %}

{% block content %}{% load static %}

{% include 'includes/intro.html' %}

{% include 'includes/skills.html' %}

{% include 'includes/services.html' %}
    
{#{% include 'includes/details.html' %}#}
{##}
{#{% include 'includes/callme.html' %}#}
{##}
{#{% include 'includes/projects.html' %}#}
{##}
{#{% include 'includes/projects_lightbox.html' %}#}
{##}
{#{% include 'includes/team.html' %}#}
{##}
{#{% include 'includes/about.html' %}#}

{% include 'includes/contact.html' %}

{% endblock %}

