    <!-- Intro -->
    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">INTRO</div>
                        {% for intro in intros %}
                        <h2>{{ intro.title }}</h2>
                        <p>{{ intro.description }}</p>
                        <p class="testimonial-text">"{{ intro.citation }}"</p>
                        <div class="testimonial-author">{{ intro.represent }}</div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="{{ intro.image.url }}" alt="alternative">
                    </div> <!-- end of image-container -->
                        {% endfor %}
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of intro -->
