    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1>FULL STACK <span id="js-rotating">Python, Django, CSS, MySQL, HTML5, Bootstrap, ReactJS</span></h1>
                            <p class="p-heading p-large">A full stack web developer is a person who can develop both client and server software.</p>
                            <a class="btn-solid-lg page-scroll" href="#contact">CONTACT</a>
                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->